    <div id="footer">
      <ul id="ft-follow-us"> 
        <li>
          <a href="http://weibo.com/youdaonote" id="weibo" target="_blank"></a>
        </li>
        <li>
          <a id="wechat">
            <img src="__TMPL__Public/images/oneismore/ewm.png"  class="z_weixin">
          </a>
        </li>
        <li>
          <a id="qq">
            <!-- <img src="./images/qq.png"> -->
          </a>
        </li>
      </ul>
      <ul id="ft-links">
        <li>
          <a href="" target="_blank">经典案例</a>
        </li> · 
        <li>
          <a href="" target="_blank">关于我们</a>
        </li> · 
        <li>
          <a href="/open" target="_blank">服务体系</a>
        </li>
      </ul>
      <ul id="ft-about-links">
        <li>
          <a href="" target="_blank">关于我们</a>
        </li> | 
        <li>
          <a href="" target="_blank">联系我们</a>
        </li> | 
        <li>
          <a href="/license.html" target="_blank">服务条款</a>
        </li> | 
        <li>
          <a href="/privacy.html" target="_blank">隐私协议</a>
        </li> | 
        <li>
          <a href="/faq/" target="_blank">帮助</a>
        </li>
      </ul>   
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"left","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      <div id="copyright">©2014 It Only Studio 京ICP证080268号</div>
</div>
