<!doctype html>
<html lang="en">
<head>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <title>{$site_seo_title} {$site_name}</title>
    <tc_include file="Public:css"/>
    <link href="__TMPL__Public/css/sub.css" rel="stylesheet" type="text/css" />
    <script src="__TMPL__Public/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<!-- header头部 -->
<tc_include file="Public:header"/>
<div id="main-container" class="container" style="margin-top: 60px;">
  <div class="t-h2">我们期待与您的携手，以设计驱动企业价值增长，实现您的商业目标</div>
  <div class="big_main">
    <div class="main_about" id="b1" >
      <div class="about" >
        <div class="list1">
          <ul>
            <li><h1>关于</h1></li>
            <li>
              <p>Nic设计诞生于2010年，工作室聚集了多名从事界面设计和交互设计的专业设计师,团队成员均有5年以上的项目经验,能够把握国际主流设计风格与创新理念。</p>
              <p>我们为客户提供专业的界面方案，网站视觉设计，视觉包装. 服务项目涵盖了桌面平台、互联网服务以及电子消费类产品等，为客户提供从品牌设计、概念设计、用户体验、交互设计、图形设计到产品设计。</p>
              <p>Nic设计至今已服务客户：中国移动、松下研发、腾讯、百度、CCTV、ATA、四维图新、360、旅行淘、大唐移动、神州数码、正义网、神州数码、宇信易诚及大量创业公司等。<a href="#">查看全部客户列表></a></p>
            </li>
          </ul>
          <span><img src="__TMPL__Public/images/oneismore/dian_03.png" /></span>
        </div>
        <div class="list2">
          <span><img src="__TMPL__Public/images/oneismore/quan_03.png" /></span>
          <ul>
            <li><h1>理念</h1></li>
            <li><p>我们致力于用户体验的持续提升，以用户为中心，力求视觉设计与交互设计的完美契合。并且我们以科学规范的流程，勤奋专注的态度，为客户提供全方位的设计服务。专注ui设计，以设计驱动企业价值的持续增长，实现您的商业目标！</p></li>
            <li><h2>我们专注设计,只做一件事 :<b>持续为客户创造价值</b></h2></li>
          </ul>
        </div>
        <div class="list3">
          <h1>团队</h1>
          <ul class="clearfix">
            <li class="li1">
                <div class="imgborder">
                  <img src="__TMPL__Public/images/oneismore/kun.jpg" alt="" width="150" height="100">
                </div>
                <h3><font>邸永兰</font>&nbsp;web前端工程师</h3>
                <p>团队中的美女工程师，热爱前端，多年网页前端开发经验.</p>
            </li>
            <li>
                <div class="imgborder">
                  <img src="__TMPL__Public/images/oneismore/kun.jpg" alt="" width="150" height="100">
                </div>
                <h3><font>邸永兰</font>&nbsp;web前端工程师</h3>
                <p>团队中的美女工程师，热爱前端，多年网页前端开发经验.</p>
            </li>
            <li class="li1">
                <div class="imgborder">
                  <img src="__TMPL__Public/images/oneismore/kun.jpg" alt="" width="150" height="100">
                </div>
                <h3><font>邸永兰</font>&nbsp;web前端工程师</h3>
                <p>团队中的美女工程师，热爱前端，多年网页前端开发经验.</p>
            </li>
            <li>
                <div class="imgborder">
                  <img src="__TMPL__Public/images/oneismore/kun.jpg" alt="" width="150" height="100">
                </div>
                <h3><font>邸永兰</font>&nbsp;web前端工程师</h3>
                <p>团队中的美女工程师，热爱前端，多年网页前端开发经验.</p>
            </li>
            <li class="li1">
                <div class="imgborder">
                  <img src="__TMPL__Public/images/oneismore/kun.jpg" alt="" width="150" height="100">
                </div>
                <h3><font>邸永兰</font>&nbsp;web前端工程师</h3>
                <p>团队中的美女工程师，热爱前端，多年网页前端开发经验.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main_dynamic" id="b2">
      <div class="dynamic">
        <div class="title"><h1>新闻动态</h1></div>
        <div class="dynamic_con">
          <div class="list1">
            <span><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新"><img src="__TMPL__Public/images/oneismore/kun.jpg" width="190" height="110" alt="琥珀四重奏网站发布-Nic设计案例更新"></a></span>
            <ul>
                <li>
                  <h1><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新">琥珀四重奏网站发布-Nic设计案例更新</a></h1>
                </li>
                <li>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教……
                </li>
            </ul>
          </div>
          <div class="list1">
            <span><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新"><img src="__TMPL__Public/images/oneismore/kun.jpg" width="190" height="110" alt="琥珀四重奏网站发布-Nic设计案例更新"></a></span>
            <ul>
                <li>
                  <h1><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新">琥珀四重奏网站发布-Nic设计案例更新</a></h1>
                </li>
                <li>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教……
                </li>
            </ul>
          </div>
          <div class="list1">
            <span><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新"><img src="__TMPL__Public/images/oneismore/kun.jpg" width="190" height="110" alt="琥珀四重奏网站发布-Nic设计案例更新"></a></span>
            <ul>
                <li>
                  <h1><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新">琥珀四重奏网站发布-Nic设计案例更新</a></h1>
                </li>
                <li>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教……
                </li>
            </ul>
          </div>
          <div class="list1">
            <span><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新"><img src="__TMPL__Public/images/oneismore/kun.jpg" width="190" height="110" alt="琥珀四重奏网站发布-Nic设计案例更新"></a></span>
            <ul>
                <li>
                  <h1><a href="html/news/casenews/2013/1125/42.html" title="琥珀四重奏网站发布-Nic设计案例更新">琥珀四重奏网站发布-Nic设计案例更新</a></h1>
                </li>
                <li>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教……
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page">
      <a class="quanbu" href="html/news/index.html">查看全部新闻</a>
      </div>
    </div>
  </div>
    <script type="text/javascript">
      $(function(){
          $(window).resize(function(){
              $("#main-container").css("min-height", $(window).height() - 343);
          }).resize();
          $('.boxgrid').hover(function(){
              $(".cover", this).stop().animate({top:'150px'},{queue:false,duration:150});
          }, function() {
              $(".cover", this).stop().animate({top:'180px'},{queue:false,duration:150});
          });
          $('#wechat').hover(function(){
            $(this).find('.z_weixin').show();
          },function(){
            $(this).find('.z_weixin').hide();
          })
          $('#ucontent').blur(function(){
              if($(this).val()==''){
                  $(this).val('您的需求描述？（Describe your needs or leave a message?）').css('color','#ccc');
              }}).focus(function(){
          if($(this).val()=='您的需求描述？（Describe your needs or leave a message?）'){
            $(this).val('').css('color','#000');
          }
        })
        $('#needing').click(function(){
          var uname=$('#nameundis').val();
          var uemail=$('#mailundis').val();
          var utel=$('#phundis').val();
          var ucon=$('#ucontent').val();
          var ucom=$('#ucompany').val();
          if(uname==''){
            alert('请填写您的姓名');
            return false;
          }
          if(!/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(uemail)){
            alert('您填写的邮箱格式不正确');
            return false;
          }
          if(!/^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/.test(utel)){
            alert('您填写的电话（tel）格式不正确');
            return false;
          }
            $.post('/Service/comservice',{'demo':'dmeo'},function(){
            })
        })
      })
    </script>
  <tc_include file="Public:footer"/>
</div>
</body>
</html>
