<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <title>{$site_seo_title} {$site_name}</title>
    <tc_include file="Public:css" />
    <tc_include file="Public:script" />
</head>
<body>
    <tc_include file="Public:header"/>
    <div class="z_header">
      <ul class="z_back" id="z_back">
        <li class="z_li_bg_1"></li>
        <li class="z_li_bg_2"></li>
        <li class="z_li_bg_3"></li>
        <li class="z_li_bg_4"></li>
      </ul>
      <span class="z_like z_like_p1 animated rotateInDownLeft" id="z_like_p1">这辈子，梦想还是要有的</span>
      <span class="z_like z_like_p2" id="z_like_p2"></span>
      <span class="z_like z_like_p3" id="z_like_p3"></span>
    </div>
    <div class="serve">
      <div class="title"><h1>服务项目</h1></div>
      <div class="serve_con">
        <a href="html/service/index.html" class="s1" title="网站设计及开发">
          <span></span>
          <ul>
            <li><h2>网站设计及开发</h2></li>
            <li>专业的网站设计及开发服务，包括企业网站、互联产品网站、电商网站、社交及应用类网站等</li>
          </ul>
        </a>
        <a href="html/service/index.html#b0" class="s2" title="软件界面设计">
          <span></span>
          <ul>
            <li><h2>软件界面设计</h2></li>
            <li>提供个性化的软件界面设计方案，服务涵盖为PC端、电视、车载系统等平台的界面设计。</li>
          </ul>
        </a>
        <a href="html/service/index.html#b0" class="s3" title="网站设计及开发">
          <span></span>
          <ul>
            <li><h2>网站设计及开发</h2></li>
            <li>为移动设备、平板电脑、移动产品等终端提供交互流程及界面设计服务。包括IOS、Android、Win等多平台。</li>
          </ul>
        </a>
        <a href="html/service/index.html#b0" class="s4" title="网站设计及开发">
          <span></span>
          <ul>
            <li><h2>网站设计及开发</h2></li>
            <li>企业及软件的LOGO设计,企业公司的VI识别系统设计,以及各类标识和平面传播类设计.</li>
          </ul>
        </a>
      </div>
      <!--serve_con-->
    </div>
    <!--serve-->
    <div class="case_main">
      <div class="case">
        <div class="title"><h1>最新案例</h1><span></div>
        <div class="case_con cleafloat">
          <!--captionfull-->
          <a href="###" class="boxgrid captionfull">
            <dl>
              <dt>
              <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
              </dt>
              <dd class="z_cover">
              <h3>动鱼数码科技网站案例</h3>
              </dd>
            </dl>
          </a>
          <!--captionfull-->
          <a href="###" class="boxgrid captionfull">
            <dl>
              <dt>
              <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
              </dt>
              <dd class="z_cover">
              <h3>动鱼数码科技网站案例</h3>
              </dd>
            </dl>
          </a>
          <!--captionfull-->
          <a href="###" class="boxgrid captionfull">
            <dl>
              <dt>
              <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
              </dt>
              <dd class="z_cover">
              <h3>动鱼数码科技网站案例</h3>
              </dd>
            </dl>
          </a>
          <!--captionfull-->
          <a href="###" class="boxgrid captionfull">
            <dl>
              <dt>
              <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
              </dt>
              <dd class="z_cover">
              <h3>动鱼数码科技网站案例</h3>
              </dd>
            </dl>
            </a><!--captionfull-->
            <a href="###" class="boxgrid captionfull">
              <dl>
                <dt>
                <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
                </dt>
                <dd class="z_cover">
                <h3>动鱼数码科技网站案例</h3>
                </dd>
              </dl>
            </a>
            <!--captionfull-->
            <a href="###" class="boxgrid captionfull">
              <dl>
                <dt>
                <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
                </dt>
                <dd class="z_cover">
                <h3>动鱼数码科技网站案例</h3>
                </dd>
              </dl>
              </a><!--captionfull-->
              <a href="###" class="boxgrid captionfull">
                <dl>
                  <dt>
                  <img src="__TMPL__Public/images/oneismore/tmp_1.jpg" alt="" />
                  </dt>
                  <dd class="z_cover">
                  <h3>动鱼数码科技网站案例</h3>
                  </dd>
                </dl>
              </a>
            </div>
          </div>
          <!--case-->
        </div>
        <!--case_main-->
        <div class="index_box">
          <div class="news">
            <div class="title"><h1>新闻动态</h1><a href="{:U('Portal/News/index','','')}" title="全部">全部></a></div>
            <div class="news_con">
              <ul>
              <volist name='res' id='vo'>
               <li>
                  <h2><a href="{:U('Portal/News/index','','')}" title="{$vo.post_title}">{$vo.post_title}</a>
                  </h2>
                  <p>{$vo.post_content|strip_tags=###|mb_substr=###,0,60,'utf-8'}</p>
                </li>
              </volist>
              </ul>
            </div>
            <!--news_con-->
          </div>
          <!--news-->
          <div class="xuqiu">
            <ul>
              <li>4年来，服务200+客户</li>
              <li>专注、诚信、简洁有力的流程执行力度</li>
              <li>以设计驱动企业价值的持续增长，实现您的商业目标！</li>
              <li><h1>我们只做一件事 :<span>持续为客户创造价值</span></h1></li>
              <li><a href="html/service/index.html#b3"  class="tijiao" title="在线提交需求">在线提交需求</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=949677513&site=qq&menu=yes" class="qq" title="QQ在线咨询">QQ在线咨询</a></li>
            </ul>
          </div>
        </div>
    <tc_include file="Public:footer"/>
</body>
</html>